@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;

}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;

}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;

}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;

}

:root {
    font-size: 18px;
    --gray30: #030303;
    --gray30: #0f0e0e;
    --gray30: #080808;
    
    
    
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    font-family: charter;
    background-color: #ffffff;
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    color: var(--gray30);
}

pre {
 background: #FEC62E;
    ;
}

.hero   {
    background-image:linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../images/patron-1.png);
    height: 350px;
    
}

.section-content {
    counter-reset: titleList;
}

.section-content h3{
    counter-increment: titleList;
}

.section-content h3::before{
    content: counter(titleList, decimal) "-";
}

.section-content h3::after{ 
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
}


::selection{
    background: red;
}